<p>User: <%= mail_to @user.email, @user.name %></p>

<p>Company: <%= @user.company %></p>

<p>Referrer: <%= @user.referrer %></p>

Has registered for dropbox and is awaiting activation. <%= link_to "Activate User", user_url(@user) %>