/* line 17, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../../app/stylesheets/colorbox_custom.sass */
#cboxOverlay {
  background-color: gray;
  background-image: none;
  opacity: 0.7 !important;
}

/* line 11, ../../../app/stylesheets/colorbox_custom.sass */
#cboxLoadedContent {
  margin: 0;
}

/* line 15, ../../../app/stylesheets/colorbox_custom.sass */
#cboxClose {
  top: 0;
}

/* line 21, ../../../app/stylesheets/colorbox_custom.sass */
#cboxLoadedContent #content {
  margin: 0;
  padding: 0;
}
/* line 27, ../../../app/stylesheets/colorbox_custom.sass */
#cboxLoadedContent h2 {
  margin-right: 30px;
  padding: 0 0 10px 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
/* line 45, ../../../app/stylesheets/colorbox_custom.sass */
#cboxLoadedContent h2.icon {
  padding: 15px 0 15px 55px;
  background-repeat: no-repeat;
  background-position: left middle;
}
/* line 53, ../../../app/stylesheets/colorbox_custom.sass */
#cboxLoadedContent #singleMessage {
  margin: 5px 40px 5px 10px;
  display: block;
}
/* line 59, ../../../app/stylesheets/colorbox_custom.sass */
#cboxLoadedContent .actions {
  clear: both;
  display: block;
}
/* line 65, ../../../app/stylesheets/colorbox_custom.sass */
#cboxLoadedContent .actions .button {
  float: left;
}

/* line 7, ../../../app/stylesheets/application.sass */
html {
  overflow-y: scroll;
  font-family: Verdana, Arial;
  height: 100%;
}

/* line 15, ../../../app/stylesheets/application.sass */
body {
  background: url("/images/bg.png");
  font-size: 13px;
  /**** Buttons *** */
}
/* line 21, ../../../app/stylesheets/application.sass */
body h1, body h2, body h3, body h4, body p {
  margin-bottom: 6px;
}
/* line 25, ../../../app/stylesheets/application.sass */
body h1, body h2, body h3, body h4 {
  font-weight: bold;
}
/* line 29, ../../../app/stylesheets/application.sass */
body h1 {
  font-size: 2em;
}
/* line 33, ../../../app/stylesheets/application.sass */
body h2 {
  font-size: 1.8em;
}
/* line 37, ../../../app/stylesheets/application.sass */
body h3 {
  font-size: 1.4em;
}
/* line 41, ../../../app/stylesheets/application.sass */
body a {
  text-decoration: none;
  color: #333333;
}
/* line 47, ../../../app/stylesheets/application.sass */
body strong {
  font-weight: bold;
}
/* line 51, ../../../app/stylesheets/application.sass */
body .hidden {
  display: none;
}
/* line 55, ../../../app/stylesheets/application.sass */
body .clear {
  clear: both;
}
/* line 59, ../../../app/stylesheets/application.sass */
body .error {
  color: red;
}
/* line 63, ../../../app/stylesheets/application.sass */
body .notice {
  color: green;
}
/* line 67, ../../../app/stylesheets/application.sass */
body .left {
  float: left;
}
/* line 73, ../../../app/stylesheets/application.sass */
body form .field {
  float: left;
  clear: both;
  margin-bottom: 6px;
}
/* line 81, ../../../app/stylesheets/application.sass */
body form .field label, body form .field input, body form .field textarea, body form .field select {
  float: left;
  clear: left;
}
/* line 87, ../../../app/stylesheets/application.sass */
body form input.error {
  background-color: #ff6a54;
}
/* line 91, ../../../app/stylesheets/application.sass */
body form .actions {
  clear: both;
}
/* line 95, ../../../app/stylesheets/application.sass */
body .border {
  padding: 7px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid silver;
}
/* line 109, ../../../app/stylesheets/application.sass */
body ul {
  margin-left: 25px;
}
/* line 113, ../../../app/stylesheets/application.sass */
body #logo {
  margin: 0px 20px 20px 0px;
}
/* line 117, ../../../app/stylesheets/application.sass */
body #logo_holder {
  margin: 0px 0px 20px 20px;
}
/* line 123, ../../../app/stylesheets/application.sass */
body .button {
  border: 1px solid silver;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding: 3px 6px 3px 27px;
  margin: 3px;
  display: block;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 6px 3px;
  background-color: white;
  text-align: left;
  float: left;
  cursor: pointer;
  width: auto;
}
/* line 167, ../../../app/stylesheets/application.sass */
body .button:hover {
  border-width: 2px;
  margin: 2px;
}
/* line 173, ../../../app/stylesheets/application.sass */
body .button.large {
  padding: 10px 15px;
  font-size: 1.2em;
}
/* line 179, ../../../app/stylesheets/application.sass */
body input.button {
  padding: 2px 6px 2px 27px;
}
/* line 183, ../../../app/stylesheets/application.sass */
body .icon-only {
  height: 16px;
  width: 16px;
  margin: 0 5px;
  float: left;
  text-indent: -9999px;
  display: block;
}
/* line 199, ../../../app/stylesheets/application.sass */
body .icon-only.save, body .button.save {
  background-image: url("/images/save.png");
}
/* line 203, ../../../app/stylesheets/application.sass */
body .icon-only.delete, body .button.delete {
  background-image: url("/images/delete.png");
}
/* line 207, ../../../app/stylesheets/application.sass */
body .icon-only.login, body .button.login {
  background-image: url("/images/user_go.png");
}
/* line 211, ../../../app/stylesheets/application.sass */
body .icon-only.search, body .button.search {
  background-image: url("/images/search.png");
}
/* line 215, ../../../app/stylesheets/application.sass */
body .icon-only.upload, body .button.upload {
  background-image: url("/images/upload.png");
}
/* line 219, ../../../app/stylesheets/application.sass */
body .icon-only.newFolder, body .button.newFolder {
  background-image: url("/images/newFolder.png");
}
/* line 223, ../../../app/stylesheets/application.sass */
body .icon-only.createLink, body .button.createLink {
  background-image: url("/images/createLink.png");
}
/* line 227, ../../../app/stylesheets/application.sass */
body .icon-only.move, body .button.move {
  background-image: url("/images/move.png");
}
/* line 231, ../../../app/stylesheets/application.sass */
body .icon-only.addPermission, body .button.addPermission {
  background-image: url("/images/key_add.png");
}
/* line 235, ../../../app/stylesheets/application.sass */
body .icon-only.download, body .button.download {
  background-image: url("/images/download.png");
}
/* line 239, ../../../app/stylesheets/application.sass */
body .icon-only.edit, body .button.edit {
  background-image: url("/images/pencil.png");
}
/* line 243, ../../../app/stylesheets/application.sass */
body .icon-only.new, body .button.new {
  background-image: url("/images/add.png");
}
/* line 247, ../../../app/stylesheets/application.sass */
body .icon-only.back, body .button.back {
  background-image: url("/images/arrow_left.png");
}
/* line 251, ../../../app/stylesheets/application.sass */
body .icon-only.cross, body .button.cross {
  background-image: url("/images/cross.png");
}
/* line 255, ../../../app/stylesheets/application.sass */
body .icon-only.tick, body .button.tick {
  background-image: url("/images/tick.png");
}
/* line 259, ../../../app/stylesheets/application.sass */
body .icon-only.edituser, body .button.edituser {
  background-image: url("/images/user_edit.png");
}
