/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
 *  Icons from http://www.famfamfam.com/lab/icons/silk/ */
/* line 9, ../../app/stylesheets/screen.sass */
#wrapper {
  min-width: 970px;
}
/* line 11, ../../app/stylesheets/screen.sass */
#wrapper #content {
  clear: both;
  margin: 25px 15px 15px 15px;
  padding: 15px;
  background-color: white;
  /*Groups */
}
/* line 16, ../../app/stylesheets/screen.sass */
#wrapper #content #error_message {
  padding: 5px 10px;
  background-color: #b81900;
  border-radius: 5px;
  color: white;
}
/* line 21, ../../app/stylesheets/screen.sass */
#wrapper #content ul {
  list-style: disc;
}
/* line 23, ../../app/stylesheets/screen.sass */
#wrapper #content.fileBrowser {
  margin: 0px;
  padding: 0 0 91px 0;
  border-radius: 0px;
  background-color: transparent;
}
/* line 29, ../../app/stylesheets/screen.sass */
#wrapper #content ul.listWithDelete {
  margin: 0;
}
/* line 31, ../../app/stylesheets/screen.sass */
#wrapper #content ul.listWithDelete li {
  margin: 3px 0;
  float: left;
  clear: left;
  list-style: none;
  min-width: 400px;
  padding: 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid silver;
}
/* line 43, ../../app/stylesheets/screen.sass */
#wrapper #content ul.listWithDelete li a {
  float: left;
  margin: 6px;
}
/* line 46, ../../app/stylesheets/screen.sass */
#wrapper #content ul.listWithDelete li form {
  float: right;
}

/***** MAIN PAGES ********** */
/* line 54, ../../app/stylesheets/screen.sass */
#top-menu {
  font-weight: bold;
  width: 100%;
  font-size: 11px;
  position: fixed;
  top: 0;
  background: url("/images/taskbar.png") repeat scroll 0 0 white;
}
/* line 61, ../../app/stylesheets/screen.sass */
#top-menu .menu-item {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
}
/* line 66, ../../app/stylesheets/screen.sass */
#top-menu a.menu-item {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 70, ../../app/stylesheets/screen.sass */
#top-menu a.menu-item:hover {
  background-color: #a7a7a7;
}
/* line 72, ../../app/stylesheets/screen.sass */
#top-menu #logout {
  float: right;
}
/* line 74, ../../app/stylesheets/screen.sass */
#top-menu ul#actions-menu, #top-menu ul#flash {
  margin: 0;
  padding: 0;
}
/* line 77, ../../app/stylesheets/screen.sass */
#top-menu ul#actions-menu li, #top-menu ul#flash li {
  float: left;
  list-style: none;
}
/* line 80, ../../app/stylesheets/screen.sass */
#top-menu ul#flash {
  float: left;
}
/* line 82, ../../app/stylesheets/screen.sass */
#top-menu ul#flash li {
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1px solid silver;
  font-weight: normal;
}
/* line 87, ../../app/stylesheets/screen.sass */
#top-menu #user-bar {
  float: right;
  margin: 7px 5px;
}
/* line 90, ../../app/stylesheets/screen.sass */
#top-menu #user-bar #user_disk_space {
  float: left;
  margin: 0 10px;
}
/* line 93, ../../app/stylesheets/screen.sass */
#top-menu #user-bar #user_disk_space #disk-space {
  float: left;
  width: 200px;
  border: 1px solid black;
  background: #dbdbdb;
  overflow: hidden;
  margin: 1px 5px;
}
/* line 100, ../../app/stylesheets/screen.sass */
#top-menu #user-bar #user_disk_space #disk-space #used-space {
  float: left;
  height: 7px;
  background: #5b5b5b;
}

/* line 105, ../../app/stylesheets/screen.sass */
#topBar {
  background: url("/images/topbar.png") repeat-x top left silver;
  width: 100%;
  height: 95spx;
  position: fixed;
  top: 22px;
}
/* line 111, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar {
  margin: 5px 4px 2px 4px;
}
/* line 113, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar .breadcrumbs {
  margin: 12px 0 1px 4px;
  clear: left;
  float: left;
}
/* line 117, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar .breadcrumbs a {
  float: left;
  padding: 2px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background-color: #a3a3a3;
}
/* line 125, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar .breadcrumbs a:hover {
  background-color: #cccccc;
}
/* line 127, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar .breadcrumbs p {
  float: left;
  padding: 2px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  margin: 0;
}
/* line 135, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar .breadcrumbs .breadcrumbsNext {
  width: 16px;
  height: 16px;
  padding: 2px 0;
  background: transparent url("/images/breadcrumbsNext.png") no-repeat center;
  text-indent: -9999px;
  display: block;
  float: left;
  margin: 0 2px;
}
/* line 145, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar form label {
  float: left;
  margin: 6px 5px 0 4px;
}
/* line 148, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar form input {
  float: left;
  margin: 4px 5px 0 0;
}
/* line 151, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar form input#search_query {
  padding: 0;
}
/* line 153, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar form input.search.button {
  margin: 1px;
}
/* line 155, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar form input.search.button:hover {
  margin: 0;
}
/* line 158, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar #error, #topBar #innerTopBar #notice {
  text-align: left;
  padding: 5px 8px 5px 27px;
  float: right;
  margin: 1px 1px 0 0;
  border-radius: 6px;
}
/* line 165, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar #error {
  background: url("/images/error.png") no-repeat 4px center;
  background-color: #ffcccc;
  border: solid 1px #cc6666;
}
/* line 170, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar #notice {
  background: url("/images/notice.png") no-repeat 4px center;
  background-color: #ccffcc;
  border: solid 1px #66cc66;
}
/* line 175, ../../app/stylesheets/screen.sass */
#topBar #headers {
  float: left;
  width: 100%;
  background: url("/images/filterBar.png");
  font-weight: bold;
  margin-bottom: 1px;
  margin-top: 4px;
  padding: 5px 0 2px 0;
}

/* line 184, ../../app/stylesheets/screen.sass */
#file-container {
  clear: both;
  padding: 115px 0 0 0;
  margin: 0;
}
/* line 188, ../../app/stylesheets/screen.sass */
#file-container .row-container {
  padding: 3px 0;
  list-style: none;
}
/* line 191, ../../app/stylesheets/screen.sass */
#file-container .row-container:hover {
  background: transparent url("/images/highlight.png") repeat-x top left;
}
/* line 193, ../../app/stylesheets/screen.sass */
#file-container .row-container a {
  display: block;
  overflow: hidden;
  height: 100%;
}
/* line 197, ../../app/stylesheets/screen.sass */
#file-container .row-container.folder .name a.details {
  background-image: url("/images/folder.png");
}
/* line 199, ../../app/stylesheets/screen.sass */
#file-container .row-container.folder .name a.details.shared {
  background-image: url("/images/folderShared.png");
}
/* line 201, ../../app/stylesheets/screen.sass */
#file-container .row-container.upFolder .name a {
  background: transparent url("/images/up.png") no-repeat left top;
  padding-left: 20px;
}
/* line 205, ../../app/stylesheets/screen.sass */
#file-container .row-container .name a:hover {
  text-decoration: underline;
}
/* line 207, ../../app/stylesheets/screen.sass */
#file-container .row-container .name a.details {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-image: url("/images/file.png");
  text-indent: -9999px;
  width: 17px;
  height: 17px;
  margin-right: 5px;
  float: left;
}
/* line 218, ../../app/stylesheets/screen.sass */
#file-container .row-container .name a.details:hover {
  background-position: -1px 0;
}
/* line 220, ../../app/stylesheets/screen.sass */
#file-container .row-container .name a.details.txtFileType {
  background-image: url("/images/page_white_text.png");
}
/* line 222, ../../app/stylesheets/screen.sass */
#file-container .row-container .name a.details.pdfFileType {
  background-image: url("/images/page_white_acrobat.png");
}
/* line 224, ../../app/stylesheets/screen.sass */
#file-container .row-container .name a.details.zipFileType {
  background-image: url("/images/page_white_compressed.png");
}
/* line 226, ../../app/stylesheets/screen.sass */
#file-container .row-container .name a.details.jpgFileType, #file-container .row-container .name a.details.jpegFileType, #file-container .row-container .name a.details.pngFileType, #file-container .row-container .name a.details.gifFileType {
  background-image: url("/images/page_white_picture.png");
}
/* line 228, ../../app/stylesheets/screen.sass */
#file-container .row-container .name a.details.docFileType, #file-container .row-container .name a.details.docxFileType {
  background-image: url("/images/page_white_word.png");
}
/* line 230, ../../app/stylesheets/screen.sass */
#file-container .row-container .name a.details.pptFileType, #file-container .row-container .name a.details.pptxFileType {
  background-image: url("/images/page_white_powerpoint.png");
}
/* line 232, ../../app/stylesheets/screen.sass */
#file-container .row-container .name a.details.xlsFileType, #file-container .row-container .name a.details.xlsxFileType {
  background-image: url("/images/page_white_excel.png");
}

/* line 236, ../../app/stylesheets/screen.sass */
#file-container .mark-it, #file-container .name, #file-container .ext, #file-container .size, #file-container .description, #file-container .date, #file-container .attr, #headers .mark-it, #headers .name, #headers .ext, #headers .size, #headers .description, #headers .date, #headers .attr {
  float: left;
  overflow: hidden;
  height: 17px;
}
/* line 240, ../../app/stylesheets/screen.sass */
#file-container .mark-it, #headers .mark-it {
  width: 2%;
}
/* line 242, ../../app/stylesheets/screen.sass */
#file-container .name, #headers .name {
  width: 37%;
}
/* line 244, ../../app/stylesheets/screen.sass */
#file-container .ext, #headers .ext {
  width: 5%;
}
/* line 246, ../../app/stylesheets/screen.sass */
#file-container .size, #headers .size {
  width: 8%;
}
/* line 248, ../../app/stylesheets/screen.sass */
#file-container .description, #headers .description {
  width: 30%;
}
/* line 250, ../../app/stylesheets/screen.sass */
#file-container .date, #headers .date {
  width: 15%;
}
/* line 252, ../../app/stylesheets/screen.sass */
#file-container .attr, #headers .attr {
  width: 5%;
}

/* line 255, ../../app/stylesheets/screen.sass */
#bottom-bar {
  background: url("/images/taskbar.png") repeat-x silver;
  height: 91px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* line 261, ../../app/stylesheets/screen.sass */
#bottom-bar #bottom-bar-padder {
  margin: 0 auto;
  padding: 6px 0;
  width: 640px;
}
/* line 265, ../../app/stylesheets/screen.sass */
#bottom-bar #bottom-bar-padder .icon-link {
  width: 80px;
  float: left;
  color: #333333;
  font-weight: bold;
  font-size: 8pt;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 7px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* line 286, ../../app/stylesheets/screen.sass */
#bottom-bar #bottom-bar-padder .icon-link:hover {
  background-color: #5e5e5e;
  color: silver;
}
/* line 289, ../../app/stylesheets/screen.sass */
#bottom-bar #bottom-bar-padder .icon-link.download {
  background-image: url("/images/icons/download.png");
}

/* line 293, ../../app/stylesheets/screen.sass */
#bottom-bar .icon-link.download, #cboxLoadedContent h2.download {
  background-image: url("/images/icons/download.png");
}
/* line 295, ../../app/stylesheets/screen.sass */
#bottom-bar .icon-link.upload, #cboxLoadedContent h2.upload {
  background-image: url("/images/icons/upload.png");
}
/* line 297, ../../app/stylesheets/screen.sass */
#bottom-bar .icon-link.newFolder, #cboxLoadedContent h2.newFolder {
  background-image: url("/images/icons/newFolder.png");
}
/* line 299, ../../app/stylesheets/screen.sass */
#bottom-bar .icon-link.hotlink, #cboxLoadedContent h2.hotlink {
  background-image: url("/images/icons/hotlink.png");
}
/* line 301, ../../app/stylesheets/screen.sass */
#bottom-bar .icon-link.move, #cboxLoadedContent h2.move {
  background-image: url("/images/icons/move.png");
}
/* line 303, ../../app/stylesheets/screen.sass */
#bottom-bar .icon-link.rename, #bottom-bar .icon-link.details, #cboxLoadedContent h2.rename, #cboxLoadedContent h2.details {
  background-image: url("/images/icons/rename.png");
}
/* line 305, ../../app/stylesheets/screen.sass */
#bottom-bar .icon-link.delete, #cboxLoadedContent h2.delete {
  background-image: url("/images/icons/delete.png");
}
/* line 307, ../../app/stylesheets/screen.sass */
#bottom-bar .icon-link.exit, #cboxLoadedContent h2.exit {
  background-image: url("/images/icons/exit.png");
}

/* line 310, ../../app/stylesheets/screen.sass */
#loader {
  background: transparent url("/images/loading.gif") no-repeat top center;
  height: 20px;
}

/* line 315, ../../app/stylesheets/screen.sass */
#newAsset #loader {
  display: none;
  width: 100%;
  margin: 25px 0;
}
/* line 320, ../../app/stylesheets/screen.sass */
#newAsset.loading form {
  display: none;
}
/* line 322, ../../app/stylesheets/screen.sass */
#newAsset.loading #loader {
  display: block;
}

/***** END MAIN PAGES ****** */
/* line 328, ../../app/stylesheets/screen.sass */
#cboxLoadedContent #folder_inherit_permissions {
  float: none;
  clear: none;
  margin-left: 10px;
}

/* line 333, ../../app/stylesheets/screen.sass */
ul#permissions {
  clear: left;
  margin-left: 5px;
}
/* line 336, ../../app/stylesheets/screen.sass */
ul#permissions li {
  float: left;
  clear: left;
  display: block;
  background: transparent url("/images/bullet_black.png") no-repeat top left;
  list-style: none;
  padding-left: 20px;
}
/* line 344, ../../app/stylesheets/screen.sass */
ul#permissions li span.permName {
  float: left;
  margin-right: 5px;
}
/* line 347, ../../app/stylesheets/screen.sass */
ul#permissions li span.permName a:hover {
  text-decoration: underline;
}
/* line 349, ../../app/stylesheets/screen.sass */
ul#permissions li span.permission {
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  float: right;
  margin: 0 2px;
}
/* line 356, ../../app/stylesheets/screen.sass */
ul#permissions li span.permission.inherited {
  background: transparent url("/images/inherited.png") no-repeat top left;
}
/* line 358, ../../app/stylesheets/screen.sass */
ul#permissions li span.permission.read {
  background-image: url("/images/eye.png");
}
/* line 360, ../../app/stylesheets/screen.sass */
ul#permissions li span.permission.delete {
  background-image: url("/images/cross.png");
}

/* line 365, ../../app/stylesheets/screen.sass */
ul#permissions li span.permission.write, p#permissions .write_perms label {
  background-image: url("/images/pencil.png");
}

/* line 369, ../../app/stylesheets/screen.sass */
p#permissions .delete_perms label {
  background-image: url("/images/cross.png");
}
/* line 371, ../../app/stylesheets/screen.sass */
p#permissions .read_perms label {
  background-image: url("/images/eye.png");
}
/* line 373, ../../app/stylesheets/screen.sass */
p#permissions span.permission {
  margin-right: 10px;
}
/* line 375, ../../app/stylesheets/screen.sass */
p#permissions span.permission label {
  background-repeat: no-repeat;
  padding-left: 20px;
}

/************** Move Folder *************** */
/* line 382, ../../app/stylesheets/screen.sass */
#moveDialogLoading {
  float: right;
  height: 32px;
  width: 32px;
  display: block;
  background: transparent url("/images/colorbox/loading.gif") no-repeat top left;
  display: none;
}

/* line 390, ../../app/stylesheets/screen.sass */
#folderMove {
  width: 400px;
  height: 350px;
  overflow: auto;
  padding: 5px 5px 5px 0;
  border: 1px solid silver;
}
/* line 396, ../../app/stylesheets/screen.sass */
#folderMove ul {
  margin-left: 20px;
  list-style: none;
}
/* line 399, ../../app/stylesheets/screen.sass */
#folderMove #folderRoot {
  margin-left: 5px;
}
/* line 401, ../../app/stylesheets/screen.sass */
#folderMove li {
  margin: 1px 0;
}
/* line 403, ../../app/stylesheets/screen.sass */
#folderMove li a {
  background: transparent url("/images/folderOpen.png") no-repeat center left;
  padding: 2px 5px 2px 16px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* line 411, ../../app/stylesheets/screen.sass */
#folderMove li a.opened {
  background-image: url("/images/folderClose.png");
}
/* line 413, ../../app/stylesheets/screen.sass */
#folderMove li a.selected {
  background-color: #b2b2b2;
}
/* line 415, ../../app/stylesheets/screen.sass */
#folderMove li.disabled a {
  color: gray;
  background-image: url("/images/folderUnavailable.png");
}

/*************End of Move Folder ************ */
/***** HOTLINK ******** */
/* line 423, ../../app/stylesheets/screen.sass */
#hotlinkResult {
  margin: 0 5px 5px 5px;
}
/* line 425, ../../app/stylesheets/screen.sass */
#hotlinkResult #link {
  padding: 5px;
  border: 1px solid gray;
  background-color: #d6d6d6;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  width: 300px;
  margin-bottom: 5px;
}

/* line 437, ../../app/stylesheets/screen.sass */
#hotlinkError {
  color: red;
  display: none;
}

/***** End of Hotlink ******** */
/***** OVERLAY ******** */
/* line 445, ../../app/stylesheets/screen.sass */
#overlay {
  /* must be initially hidden */
  display: none;
  /* place overlay on top of other elements */
  z-index: 10000;
  /* styling */
  background-color: #dddddd;
  width: 675px;
  min-height: 500px;
  border: 1px solid #666666;
  /* CSS3 styling for latest browsers */
  -moz-box-shadow: 0 0 90px 5px black;
  -webkit-box-shadow: 0 0 90px black;
}

/***** End of OVERLAY ********* */
/***** User Search ********* */
/* line 463, ../../app/stylesheets/screen.sass */
#userGroupSearch {
  float: left;
  min-width: 455px;
  margin-bottom: 10px;
}

/* line 468, ../../app/stylesheets/screen.sass */
#searchResult.loading {
  background: white url("/images/colorbox/loading.gif") no-repeat top center;
}

/* line 472, ../../app/stylesheets/screen.sass */
#userGroupSearch #query, #userGroupSearch#inactive, #userGroupSearch label {
  margin-top: 3px;
}
/* line 474, ../../app/stylesheets/screen.sass */
#userGroupSearch input {
  margin-right: 10px;
}
/* line 476, ../../app/stylesheets/screen.sass */
#userGroupSearch input#query {
  width: 300px;
}
/* line 478, ../../app/stylesheets/screen.sass */
#userGroupSearch .search {
  float: right;
}
/* line 480, ../../app/stylesheets/screen.sass */
#userGroupSearch #searchResult {
  clear: left;
  float: left;
  width: 100%;
  min-height: 30px;
}
/* line 485, ../../app/stylesheets/screen.sass */
#userGroupSearch #searchResult ul {
  margin: 0;
  list-style: none;
}
/* line 489, ../../app/stylesheets/screen.sass */
#userGroupSearch #searchResult ul li a {
  background: transparent url("/images/bullet_green.png") no-repeat left center;
  padding-left: 20px;
}
/* line 492, ../../app/stylesheets/screen.sass */
#userGroupSearch #searchResult ul li a#moreUsers {
  background: none;
}
/* line 494, ../../app/stylesheets/screen.sass */
#userGroupSearch #searchResult ul li a:hover {
  text-decoration: underline;
}
/* line 496, ../../app/stylesheets/screen.sass */
#userGroupSearch #searchResult ul li.inactive a {
  background: transparent url("/images/bullet_red.png") no-repeat left center;
}
/* line 498, ../../app/stylesheets/screen.sass */
#userGroupSearch #searchResult.selectable ul li a {
  background-image: none;
  background-color: #dddddd;
  padding: 3px 5px;
  margin: 2px 0;
  display: block;
}
/* line 504, ../../app/stylesheets/screen.sass */
#userGroupSearch #searchResult.selectable ul li a:hover {
  background-color: #cccccc;
  text-decoration: none;
}
/* line 507, ../../app/stylesheets/screen.sass */
#userGroupSearch #searchResult.selectable ul li a.selected {
  background-color: #aaaaaa;
}

/***** End of User Search ****** */
/**************** Page Numbers ************** */
/* line 515, ../../app/stylesheets/screen.sass */
.pagination {
  text-align: center;
  margin-top: 20px;
}
/* line 518, ../../app/stylesheets/screen.sass */
.pagination a, .pagination em.current, .pagination .disabled {
  padding: 7px;
  border: 1px solid silver;
  margin: 2px;
}
/* line 522, ../../app/stylesheets/screen.sass */
.pagination a:hover, .pagination em.current {
  text-decoration: none;
  background-color: #dcdcdc;
}
/* line 525, ../../app/stylesheets/screen.sass */
.pagination .disabled {
  color: gray;
}

/***************** End of Page Numbers **************** */
