/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
 *  Icons from http://www.famfamfam.com/lab/icons/silk/ */
/* line 17, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../app/stylesheets/colorbox_custom.sass */
#cboxLoadedContent {
  margin: 0;
}

/* line 5, ../../app/stylesheets/colorbox_custom.sass */
#cboxClose {
  top: 0;
}

/* line 11, ../../app/stylesheets/colorbox_custom.sass */
#cboxLoadedContent #content {
  margin: 0;
  padding: 0;
}
/* line 17, ../../app/stylesheets/colorbox_custom.sass */
#cboxLoadedContent h2 {
  margin-right: 30px;
  padding: 0 0 10px 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
/* line 35, ../../app/stylesheets/colorbox_custom.sass */
#cboxLoadedContent h2.icon {
  padding: 15px 0 15px 55px;
  background-repeat: no-repeat;
  background-position: left middle;
}
/* line 43, ../../app/stylesheets/colorbox_custom.sass */
#cboxLoadedContent #singleMessage {
  margin: 5px 40px 5px 10px;
  display: block;
}
/* line 49, ../../app/stylesheets/colorbox_custom.sass */
#cboxLoadedContent .actions {
  clear: both;
  display: block;
}
/* line 55, ../../app/stylesheets/colorbox_custom.sass */
#cboxLoadedContent .actions .button {
  float: left;
}

/* line 12, ../../app/stylesheets/screen.sass */
html {
  overflow-y: scroll;
  font-family: Verdana, Arial;
  height: 100%;
}

/* line 17, ../../app/stylesheets/screen.sass */
body {
  background: url("/images/bg.png");
  font-size: 13px;
  height: 100%;
}

/* line 22, ../../app/stylesheets/screen.sass */
h1, h2, h3, h4, p {
  margin-bottom: 6px;
}

/* line 24, ../../app/stylesheets/screen.sass */
h1, h2, h3, h4 {
  font-weight: bold;
}

/* line 26, ../../app/stylesheets/screen.sass */
h1 {
  font-size: 2em;
}

/* line 28, ../../app/stylesheets/screen.sass */
h2 {
  font-size: 1.8em;
}

/* line 30, ../../app/stylesheets/screen.sass */
h3 {
  font-size: 1.4em;
}

/* line 32, ../../app/stylesheets/screen.sass */
a {
  text-decoration: none;
  color: #333333;
}

/* line 35, ../../app/stylesheets/screen.sass */
strong {
  font-weight: bold;
}

/* line 37, ../../app/stylesheets/screen.sass */
.hidden {
  display: none;
}

/* line 40, ../../app/stylesheets/screen.sass */
.clear {
  clear: both;
}

/* line 43, ../../app/stylesheets/screen.sass */
.error {
  color: red;
}

/* line 46, ../../app/stylesheets/screen.sass */
.left {
  float: left;
}

/* line 49, ../../app/stylesheets/screen.sass */
form .field {
  float: left;
  clear: both;
  margin-bottom: 6px;
}
/* line 53, ../../app/stylesheets/screen.sass */
form .field label, form .field input, form .field textarea, form .field select {
  float: left;
  clear: left;
}
/* line 56, ../../app/stylesheets/screen.sass */
form input.error {
  background-color: #ff6a54;
}
/* line 58, ../../app/stylesheets/screen.sass */
form .actions {
  clear: both;
}

/* line 61, ../../app/stylesheets/screen.sass */
.border {
  padding: 7px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid silver;
}

/* line 69, ../../app/stylesheets/screen.sass */
ul {
  margin-left: 25px;
}

/* line 72, ../../app/stylesheets/screen.sass */
#wrapper {
  min-width: 970px;
}
/* line 74, ../../app/stylesheets/screen.sass */
#wrapper #content {
  clear: both;
  margin: 25px 15px 15px 15px;
  padding: 15px;
  background-color: white;
  /*Groups */
}
/* line 79, ../../app/stylesheets/screen.sass */
#wrapper #content ul {
  list-style: disc;
}
/* line 81, ../../app/stylesheets/screen.sass */
#wrapper #content.fileBrowser {
  margin: 0px;
  padding: 0 0 91px 0;
  border-radius: 0px;
  background-color: transparent;
}
/* line 87, ../../app/stylesheets/screen.sass */
#wrapper #content ul.listWithDelete {
  margin: 0;
}
/* line 89, ../../app/stylesheets/screen.sass */
#wrapper #content ul.listWithDelete li {
  margin: 3px 0;
  float: left;
  clear: left;
  list-style: none;
  min-width: 400px;
  padding: 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid silver;
}
/* line 101, ../../app/stylesheets/screen.sass */
#wrapper #content ul.listWithDelete li a {
  float: left;
  margin: 6px;
}
/* line 104, ../../app/stylesheets/screen.sass */
#wrapper #content ul.listWithDelete li form {
  float: right;
}

/**** Buttons *** */
/* line 107, ../../app/stylesheets/screen.sass */
.button {
  border: 1px solid silver;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding: 3px 6px 3px 27px;
  margin: 3px;
  display: block;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 6px 3px;
  background-color: white;
  text-align: left;
  float: left;
  cursor: pointer;
  width: auto;
}
/* line 129, ../../app/stylesheets/screen.sass */
.button:hover {
  border-width: 2px;
  margin: 2px;
}
/* line 132, ../../app/stylesheets/screen.sass */
.button.large {
  padding: 10px 15px;
  font-size: 1.2em;
}

/* line 135, ../../app/stylesheets/screen.sass */
input.button {
  padding: 2px 6px 2px 27px;
}

/* line 137, ../../app/stylesheets/screen.sass */
.icon-only {
  height: 16px;
  width: 16px;
  margin: 0 5px;
  float: left;
}

/* line 143, ../../app/stylesheets/screen.sass */
.icon-only.save, .button.save {
  background-image: url("/images/save.png");
}
/* line 145, ../../app/stylesheets/screen.sass */
.icon-only.delete, .button.delete {
  background-image: url("/images/delete.png");
}
/* line 147, ../../app/stylesheets/screen.sass */
.icon-only.login, .button.login {
  background-image: url("/images/user_go.png");
}
/* line 149, ../../app/stylesheets/screen.sass */
.icon-only.search, .button.search {
  background-image: url("/images/search.png");
}
/* line 151, ../../app/stylesheets/screen.sass */
.icon-only.upload, .button.upload {
  background-image: url("/images/upload.png");
}
/* line 153, ../../app/stylesheets/screen.sass */
.icon-only.newFolder, .button.newFolder {
  background-image: url("/images/newFolder.png");
}
/* line 155, ../../app/stylesheets/screen.sass */
.icon-only.createLink, .button.createLink {
  background-image: url("/images/createLink.png");
}
/* line 157, ../../app/stylesheets/screen.sass */
.icon-only.move, .button.move {
  background-image: url("/images/move.png");
}
/* line 159, ../../app/stylesheets/screen.sass */
.icon-only.addPermission, .button.addPermission {
  background-image: url("/images/key_add.png");
}
/* line 161, ../../app/stylesheets/screen.sass */
.icon-only.download, .button.download {
  background-image: url("/images/download.png");
}
/* line 163, ../../app/stylesheets/screen.sass */
.icon-only.edit, .button.edit {
  background-image: url("/images/pencil.png");
}
/* line 165, ../../app/stylesheets/screen.sass */
.icon-only.new, .button.new {
  background-image: url("/images/add.png");
}
/* line 167, ../../app/stylesheets/screen.sass */
.icon-only.back, .button.back {
  background-image: url("/images/arrow_left.png");
}
/* line 169, ../../app/stylesheets/screen.sass */
.icon-only.cross, .button.cross {
  background-image: url("/images/cross.png");
}
/* line 171, ../../app/stylesheets/screen.sass */
.icon-only.tick, .button.tick {
  background-image: url("/images/tick.png");
}

/***  LOGON PAGE ******* */
/* line 178, ../../app/stylesheets/screen.sass */
#logon-box {
  width: 600px;
  margin: 0px auto;
  margin-top: 100px;
}
/* line 182, ../../app/stylesheets/screen.sass */
#logon-box .logon-box-padder {
  padding: 10px;
}
/* line 184, ../../app/stylesheets/screen.sass */
#logon-box .logon-box-padder #logon-tabs ul {
  float: right;
  list-style: none;
  margin: 0 50px;
}
/* line 188, ../../app/stylesheets/screen.sass */
#logon-box .logon-box-padder #logon-tabs ul li {
  margin-left: 10px;
  float: left;
}
/* line 191, ../../app/stylesheets/screen.sass */
#logon-box .logon-box-padder #logon-tabs ul li a {
  text-decoration: none;
  color: #333333;
  padding: 10px 20px;
  display: block;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-bottom: none;
  border-top-right-radius: 0.5em;
  -moz-border-radius-topRight: 0.5em;
  -webkit-border-radius-topRight: 0.5em;
  border-top-left-radius: 0.5em;
  -moz-border-radius-topLeft: 0.5em;
  -webkit-border-radius-topleft: 0.5em;
}
/* line 205, ../../app/stylesheets/screen.sass */
#logon-box .logon-box-padder #logon-tabs ul li a:hover {
  background-color: #aaaaaa;
}
/* line 207, ../../app/stylesheets/screen.sass */
#logon-box .logon-box-padder #logon-main {
  background-color: white;
  padding: 40px 0;
  border: 1px solid #cccccc;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}
/* line 214, ../../app/stylesheets/screen.sass */
#logon-box .logon-box-padder #logon-main #logo_holder {
  float: left;
}
/* line 216, ../../app/stylesheets/screen.sass */
#logon-box .logon-box-padder #logon-main #form-holder {
  font-size: 8pt;
  float: right;
  margin-right: 30px;
  padding-left: 30px;
  border-left: 1px dotted #333333;
}
/* line 222, ../../app/stylesheets/screen.sass */
#logon-box .logon-box-padder #logon-main #form-holder label {
  float: left;
  width: 100px;
}
/* line 225, ../../app/stylesheets/screen.sass */
#logon-box .logon-box-padder #actions-holder {
  background: url("/images/logonStrip.png") -10px 0px repeat-x;
  padding: 30px 30px;
}

/**** END LOGON PAGE ******* */
/***** MAIN PAGES ********** */
/* line 233, ../../app/stylesheets/screen.sass */
#top-menu {
  font-weight: bold;
  width: 100%;
  font-size: 11px;
  position: fixed;
  top: 0;
  background: url("/images/taskbar.png") repeat scroll 0 0 white;
}
/* line 240, ../../app/stylesheets/screen.sass */
#top-menu .menu-item {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
}
/* line 245, ../../app/stylesheets/screen.sass */
#top-menu a.menu-item {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 249, ../../app/stylesheets/screen.sass */
#top-menu a.menu-item:hover {
  background-color: #a7a7a7;
}
/* line 251, ../../app/stylesheets/screen.sass */
#top-menu #logout {
  float: right;
}
/* line 253, ../../app/stylesheets/screen.sass */
#top-menu ul#actions-menu {
  margin: 0;
  padding: 0;
}
/* line 256, ../../app/stylesheets/screen.sass */
#top-menu ul#actions-menu li {
  float: left;
  list-style: none;
}
/* line 259, ../../app/stylesheets/screen.sass */
#top-menu #user-bar {
  float: right;
  margin: 7px 5px;
}
/* line 262, ../../app/stylesheets/screen.sass */
#top-menu #user-bar #user_disk_space {
  float: left;
  margin: 0 10px;
}
/* line 265, ../../app/stylesheets/screen.sass */
#top-menu #user-bar #user_disk_space #disk-space {
  float: left;
  width: 200px;
  border: 1px solid black;
  background: #dbdbdb;
  overflow: hidden;
  margin: 1px 5px;
}
/* line 272, ../../app/stylesheets/screen.sass */
#top-menu #user-bar #user_disk_space #disk-space #used-space {
  float: left;
  height: 7px;
  background: #5b5b5b;
}

/* line 277, ../../app/stylesheets/screen.sass */
#topBar {
  background: url("/images/topbar.png") repeat-x top left silver;
  width: 100%;
  height: 86px;
  position: fixed;
  top: 22px;
}
/* line 283, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar {
  margin: 5px 4px 2px 4px;
}
/* line 285, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar .breadcrumbs {
  margin: 12px 0 8px 4px;
  clear: left;
  float: left;
}
/* line 289, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar .breadcrumbs a {
  float: left;
  padding: 2px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background-color: #a3a3a3;
}
/* line 297, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar .breadcrumbs a:hover {
  background-color: #cccccc;
}
/* line 299, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar .breadcrumbs p {
  float: left;
  padding: 2px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  margin: 0;
}
/* line 307, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar .breadcrumbs .breadcrumbsNext {
  width: 16px;
  height: 16px;
  padding: 2px 0;
  background: transparent url("/images/breadcrumbsNext.png") no-repeat center;
  text-indent: -9999px;
  display: block;
  float: left;
  margin: 0 2px;
}
/* line 317, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar form label {
  float: left;
  margin: 6px 5px 0 4px;
}
/* line 320, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar form input {
  float: left;
  margin: 4px 5px 0 0;
}
/* line 323, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar form input#search_query {
  padding: 0;
}
/* line 325, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar form input.search.button {
  margin: 1px;
}
/* line 327, ../../app/stylesheets/screen.sass */
#topBar #innerTopBar form input.search.button:hover {
  margin: 0;
}
/* line 329, ../../app/stylesheets/screen.sass */
#topBar #headers {
  float: left;
  width: 100%;
  background: url("/images/filterBar.png");
  font-weight: bold;
  margin-bottom: 1px;
}

/* line 336, ../../app/stylesheets/screen.sass */
#file-container {
  clear: both;
  padding: 109px 0 0 0;
  margin: 0;
}
/* line 340, ../../app/stylesheets/screen.sass */
#file-container .row-container {
  padding: 3px 0;
  list-style: none;
}
/* line 343, ../../app/stylesheets/screen.sass */
#file-container .row-container:hover {
  background: transparent url("/images/highlight.png") repeat-x top left;
}
/* line 345, ../../app/stylesheets/screen.sass */
#file-container .row-container a {
  display: block;
  overflow: hidden;
  height: 100%;
}
/* line 349, ../../app/stylesheets/screen.sass */
#file-container .row-container.folder .name a.details {
  background-image: url("/images/folder.png");
}
/* line 351, ../../app/stylesheets/screen.sass */
#file-container .row-container.folder .name a.details.shared {
  background-image: url("/images/folderShared.png");
}
/* line 353, ../../app/stylesheets/screen.sass */
#file-container .row-container.upFolder .name a {
  background: transparent url("/images/up.png") no-repeat left top;
  padding-left: 20px;
}
/* line 357, ../../app/stylesheets/screen.sass */
#file-container .row-container .name a:hover {
  text-decoration: underline;
}
/* line 359, ../../app/stylesheets/screen.sass */
#file-container .row-container .name a.details {
  background: transparent url("/images/file.png") no-repeat left bottom;
  text-indent: -9999px;
  width: 17px;
  height: 17px;
  margin-right: 5px;
  float: left;
}
/* line 366, ../../app/stylesheets/screen.sass */
#file-container .row-container .name a.details:hover {
  background-position: -1px 0;
}
/* line 368, ../../app/stylesheets/screen.sass */
#file-container .row-container .name a.details.txtFileType {
  background-image: url("/images/page_white_text.png");
}
/* line 370, ../../app/stylesheets/screen.sass */
#file-container .row-container .name a.details.pdfFileType {
  background-image: url("/images/page_white_acrobat.png");
}
/* line 372, ../../app/stylesheets/screen.sass */
#file-container .row-container .name a.details.zipFileType {
  background-image: url("/images/page_white_compressed.png");
}
/* line 374, ../../app/stylesheets/screen.sass */
#file-container .row-container .name a.details.jpgFileType, #file-container .row-container .name a.details.jpegFileType, #file-container .row-container .name a.details.pngFileType, #file-container .row-container .name a.details.gifFileType {
  background-image: url("/images/page_white_picture.png");
}
/* line 376, ../../app/stylesheets/screen.sass */
#file-container .row-container .name a.details.docFileType, #file-container .row-container .name a.details.docxFileType {
  background-image: url("/images/page_white_word.png");
}
/* line 378, ../../app/stylesheets/screen.sass */
#file-container .row-container .name a.details.pptFileType, #file-container .row-container .name a.details.pptxFileType {
  background-image: url("/images/page_white_powerpoint.png");
}
/* line 380, ../../app/stylesheets/screen.sass */
#file-container .row-container .name a.details.xlsFileType, #file-container .row-container .name a.details.xlsxFileType {
  background-image: url("/images/page_white_excel.png");
}

/* line 384, ../../app/stylesheets/screen.sass */
#file-container .mark-it, #file-container .name, #file-container .ext, #file-container .size, #file-container .description, #file-container .date, #file-container .attr, #headers .mark-it, #headers .name, #headers .ext, #headers .size, #headers .description, #headers .date, #headers .attr {
  float: left;
  overflow: hidden;
  height: 17px;
}
/* line 388, ../../app/stylesheets/screen.sass */
#file-container .mark-it, #headers .mark-it {
  width: 2%;
}
/* line 390, ../../app/stylesheets/screen.sass */
#file-container .name, #headers .name {
  width: 37%;
}
/* line 392, ../../app/stylesheets/screen.sass */
#file-container .ext, #headers .ext {
  width: 5%;
}
/* line 394, ../../app/stylesheets/screen.sass */
#file-container .size, #headers .size {
  width: 8%;
}
/* line 396, ../../app/stylesheets/screen.sass */
#file-container .description, #headers .description {
  width: 30%;
}
/* line 398, ../../app/stylesheets/screen.sass */
#file-container .date, #headers .date {
  width: 15%;
}
/* line 400, ../../app/stylesheets/screen.sass */
#file-container .attr, #headers .attr {
  width: 5%;
}

/* line 403, ../../app/stylesheets/screen.sass */
#bottom-bar {
  background: url("/images/taskbar.png") repeat-x silver;
  height: 91px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* line 409, ../../app/stylesheets/screen.sass */
#bottom-bar #bottom-bar-padder {
  margin: 0 auto;
  padding: 6px 0;
  width: 640px;
}
/* line 413, ../../app/stylesheets/screen.sass */
#bottom-bar #bottom-bar-padder .icon-link {
  width: 80px;
  float: left;
  color: #333333;
  font-weight: bold;
  font-size: 8pt;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 7px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* line 434, ../../app/stylesheets/screen.sass */
#bottom-bar #bottom-bar-padder .icon-link:hover {
  background-color: #5e5e5e;
  color: silver;
}
/* line 437, ../../app/stylesheets/screen.sass */
#bottom-bar #bottom-bar-padder .icon-link.download {
  background-image: url("/images/icons/download.png");
}

/* line 441, ../../app/stylesheets/screen.sass */
#bottom-bar .icon-link.download, #cboxLoadedContent h2.download {
  background-image: url("/images/icons/download.png");
}
/* line 443, ../../app/stylesheets/screen.sass */
#bottom-bar .icon-link.upload, #cboxLoadedContent h2.upload {
  background-image: url("/images/icons/upload.png");
}
/* line 445, ../../app/stylesheets/screen.sass */
#bottom-bar .icon-link.newFolder, #cboxLoadedContent h2.newFolder {
  background-image: url("/images/icons/newFolder.png");
}
/* line 447, ../../app/stylesheets/screen.sass */
#bottom-bar .icon-link.hotlink, #cboxLoadedContent h2.hotlink {
  background-image: url("/images/icons/hotlink.png");
}
/* line 449, ../../app/stylesheets/screen.sass */
#bottom-bar .icon-link.move, #cboxLoadedContent h2.move {
  background-image: url("/images/icons/move.png");
}
/* line 451, ../../app/stylesheets/screen.sass */
#bottom-bar .icon-link.rename, #bottom-bar .icon-link.details, #cboxLoadedContent h2.rename, #cboxLoadedContent h2.details {
  background-image: url("/images/icons/rename.png");
}
/* line 453, ../../app/stylesheets/screen.sass */
#bottom-bar .icon-link.delete, #cboxLoadedContent h2.delete {
  background-image: url("/images/icons/delete.png");
}
/* line 455, ../../app/stylesheets/screen.sass */
#bottom-bar .icon-link.exit, #cboxLoadedContent h2.exit {
  background-image: url("/images/icons/exit.png");
}

/* line 458, ../../app/stylesheets/screen.sass */
#loader {
  background: transparent url("/images/loading.gif") no-repeat top center;
  height: 20px;
}

/* line 463, ../../app/stylesheets/screen.sass */
#newAsset #loader {
  display: none;
  width: 100%;
  margin: 25px 0;
}
/* line 468, ../../app/stylesheets/screen.sass */
#newAsset.loading form {
  display: none;
}
/* line 470, ../../app/stylesheets/screen.sass */
#newAsset.loading #loader {
  display: block;
}

/***** END MAIN PAGES ****** */
/* line 476, ../../app/stylesheets/screen.sass */
#cboxLoadedContent #folder_inherit_permissions {
  float: none;
  clear: none;
  margin-left: 10px;
}

/* line 481, ../../app/stylesheets/screen.sass */
ul#permissions {
  clear: left;
  margin-left: 5px;
}
/* line 484, ../../app/stylesheets/screen.sass */
ul#permissions li {
  float: left;
  clear: left;
  display: block;
  background: transparent url("/images/bullet_black.png") no-repeat top left;
  list-style: none;
  padding-left: 20px;
}
/* line 492, ../../app/stylesheets/screen.sass */
ul#permissions li span.permName {
  float: left;
  margin-right: 5px;
}
/* line 495, ../../app/stylesheets/screen.sass */
ul#permissions li span.permName a:hover {
  text-decoration: underline;
}
/* line 497, ../../app/stylesheets/screen.sass */
ul#permissions li span.permission {
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  float: right;
  margin: 0 2px;
}
/* line 504, ../../app/stylesheets/screen.sass */
ul#permissions li span.permission.inherited {
  background: transparent url("/images/inherited.png") no-repeat top left;
}
/* line 506, ../../app/stylesheets/screen.sass */
ul#permissions li span.permission.read {
  background-image: url("/images/eye.png");
}
/* line 508, ../../app/stylesheets/screen.sass */
ul#permissions li span.permission.delete {
  background-image: url("/images/cross.png");
}

/* line 513, ../../app/stylesheets/screen.sass */
ul#permissions li span.permission.write, p#permissions .write_perms label {
  background-image: url("/images/pencil.png");
}

/* line 517, ../../app/stylesheets/screen.sass */
p#permissions .delete_perms label {
  background-image: url("/images/cross.png");
}
/* line 519, ../../app/stylesheets/screen.sass */
p#permissions .read_perms label {
  background-image: url("/images/eye.png");
}
/* line 521, ../../app/stylesheets/screen.sass */
p#permissions span.permission {
  margin-right: 10px;
}
/* line 523, ../../app/stylesheets/screen.sass */
p#permissions span.permission label {
  background-repeat: no-repeat;
  padding-left: 20px;
}

/************** Move Folder *************** */
/* line 530, ../../app/stylesheets/screen.sass */
#moveDialogLoading {
  float: right;
  height: 32px;
  width: 32px;
  display: block;
  background: transparent url("/images/colorbox/loading.gif") no-repeat top left;
  display: none;
}

/* line 538, ../../app/stylesheets/screen.sass */
#folderMove {
  width: 400px;
  height: 350px;
  overflow: auto;
  padding: 5px 5px 5px 0;
  border: 1px solid silver;
}
/* line 544, ../../app/stylesheets/screen.sass */
#folderMove ul {
  margin-left: 20px;
  list-style: none;
}
/* line 547, ../../app/stylesheets/screen.sass */
#folderMove #folderRoot {
  margin-left: 5px;
}
/* line 549, ../../app/stylesheets/screen.sass */
#folderMove li {
  margin: 1px 0;
}
/* line 551, ../../app/stylesheets/screen.sass */
#folderMove li a {
  background: transparent url("/images/folderOpen.png") no-repeat center left;
  padding: 2px 5px 2px 16px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* line 559, ../../app/stylesheets/screen.sass */
#folderMove li a.opened {
  background-image: url("/images/folderClose.png");
}
/* line 561, ../../app/stylesheets/screen.sass */
#folderMove li a.selected {
  background-color: #b2b2b2;
}
/* line 563, ../../app/stylesheets/screen.sass */
#folderMove li.disabled a {
  color: gray;
  background-image: url("/images/folderUnavailable.png");
}

/*************End of Move Folder ************ */
/***** HOTLINK ******** */
/* line 571, ../../app/stylesheets/screen.sass */
#hotlinkResult {
  margin: 0 5px 5px 5px;
}
/* line 573, ../../app/stylesheets/screen.sass */
#hotlinkResult #link {
  padding: 5px;
  border: 1px solid gray;
  background-color: #d6d6d6;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  width: 300px;
  margin-bottom: 5px;
}

/* line 585, ../../app/stylesheets/screen.sass */
#hotlinkError {
  color: red;
  display: none;
}

/***** End of Hotlink ******** */
/***** OVERLAY ******** */
/* line 593, ../../app/stylesheets/screen.sass */
#overlay {
  /* must be initially hidden */
  display: none;
  /* place overlay on top of other elements */
  z-index: 10000;
  /* styling */
  background-color: #dddddd;
  width: 675px;
  min-height: 500px;
  border: 1px solid #666666;
  /* CSS3 styling for latest browsers */
  -moz-box-shadow: 0 0 90px 5px black;
  -webkit-box-shadow: 0 0 90px black;
}

/***** End of OVERLAY ********* */
/***** User Search ********* */
/* line 611, ../../app/stylesheets/screen.sass */
#userGroupSearch {
  float: left;
  min-width: 455px;
  margin-bottom: 10px;
}

/* line 616, ../../app/stylesheets/screen.sass */
#searchResult.loading {
  background: white url("/images/colorbox/loading.gif") no-repeat top center;
}

/* line 620, ../../app/stylesheets/screen.sass */
#userGroupSearch #query, #userGroupSearch#inactive, #userGroupSearch label {
  margin-top: 3px;
}
/* line 622, ../../app/stylesheets/screen.sass */
#userGroupSearch input {
  margin-right: 10px;
}
/* line 624, ../../app/stylesheets/screen.sass */
#userGroupSearch input#query {
  width: 300px;
}
/* line 626, ../../app/stylesheets/screen.sass */
#userGroupSearch .search {
  float: right;
}
/* line 628, ../../app/stylesheets/screen.sass */
#userGroupSearch #searchResult {
  clear: left;
  float: left;
  width: 100%;
  min-height: 30px;
}
/* line 633, ../../app/stylesheets/screen.sass */
#userGroupSearch #searchResult ul {
  margin: 0;
  list-style: none;
}
/* line 637, ../../app/stylesheets/screen.sass */
#userGroupSearch #searchResult ul li a {
  background: transparent url("/images/bullet_green.png") no-repeat left center;
  padding-left: 20px;
}
/* line 640, ../../app/stylesheets/screen.sass */
#userGroupSearch #searchResult ul li a#moreUsers {
  background: none;
}
/* line 642, ../../app/stylesheets/screen.sass */
#userGroupSearch #searchResult ul li a:hover {
  text-decoration: underline;
}
/* line 644, ../../app/stylesheets/screen.sass */
#userGroupSearch #searchResult ul li.inactive a {
  background: transparent url("/images/bullet_red.png") no-repeat left center;
}
/* line 646, ../../app/stylesheets/screen.sass */
#userGroupSearch #searchResult.selectable ul li a {
  background-image: none;
  background-color: #dddddd;
  padding: 3px 5px;
  margin: 2px 0;
  display: block;
}
/* line 652, ../../app/stylesheets/screen.sass */
#userGroupSearch #searchResult.selectable ul li a:hover {
  background-color: #cccccc;
  text-decoration: none;
}
/* line 655, ../../app/stylesheets/screen.sass */
#userGroupSearch #searchResult.selectable ul li a.selected {
  background-color: #aaaaaa;
}

/***** End of User Search ****** */
/**************** Page Numbers ************** */
/* line 663, ../../app/stylesheets/screen.sass */
.pagination {
  text-align: center;
  margin-top: 20px;
}
/* line 666, ../../app/stylesheets/screen.sass */
.pagination a, .pagination em.current, .pagination .disabled {
  padding: 7px;
  border: 1px solid silver;
  margin: 2px;
}
/* line 670, ../../app/stylesheets/screen.sass */
.pagination a:hover, .pagination em.current {
  text-decoration: none;
  background-color: #dcdcdc;
}
/* line 673, ../../app/stylesheets/screen.sass */
.pagination .disabled {
  color: gray;
}

/***************** End of Page Numbers **************** */
