<h2 class="upload icon">Upload File</h2>
<% if @asset %>
  <div id="newAsset">
    <%= render 'form' %>
    <div id="loader"><!-- --></div>
  </div>
<% else %>
  <p>You do not have permissions to upload to this folder</p>  
<% end %>
<div class="clear"><!-- --> </div>
